%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-logo.svg {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-logo.svg-dims {
	width: 20px;
	height: 20	px;
}

.svg-scroll.svg {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-scroll.svg-dims {
	width: 23px;
	height: 37px;
}

